body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Koyu arka plan rengi */
  color: #e0e0e0; /* Açık metin rengi */
}

header {
  background: #1f1f1f; /* Koyu arka plan rengi */
  color: #e0e0e0; /* Açık metin rengi */
  padding: 1rem 0;
  text-align: center;
  border-bottom: 2px solid #333;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #e0e0e0; /* Açık metin rengi */
  text-decoration: none;
  font-size: 1.2em;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background: #1f1f1f; /* Koyu arka plan rengi */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.post-list {
  list-style: none;
  padding: 0;
}

.post-list li {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}

/* Post başlıklarını daha zarif hale getirmek için */
.post-list li a {
  color: #e0e0e0; /* Açık metin rengi */
  text-decoration: none;
  font-size: 1.2em; /* Font boyutunu biraz küçülttük */
  font-weight: 300; /* Daha ince bir font ağırlığı kullandık */
  transition: color 0.3s ease; /* Hover efektini daha yumuşak hale getirdik */
}

.post-list li a:hover {
  color: #bbb;
  text-decoration: underline;
}

.post-list li span {
  display: block;
  color: #bbb;
  font-size: 0.9em;
  margin-top: 5px;
}

/* Post sayfasındaki başlıkların stilini güncellemek için */
.post-title {
  font-size: 2em; /* Font boyutunu biraz küçülttük */
  font-weight: 300; /* Daha ince bir font ağırlığı kullandık */
  color: #e0e0e0; /* Açık metin rengi */
  background: none; /* Arka plan rengini kaldırdık */
  padding: 0.5rem 0; /* Padding değerini azalttık */
  border-bottom: none; /* Alt sınırı kaldırdık */
  text-align: center; /* Başlığı ortaladık */
}

/* Post tarihinin stilini güncellemek için */
.post-date {
  display: block;
  color: #bbb;
  font-size: 0.9em;
  margin-top: 5px;
  background: none; /* Arka plan rengini kaldırdık */
  text-align: center; /* Tarihi ortaladık */
}

footer {
  text-align: center;
  padding: 0.5rem 0;
  background: none; /* Arka plan rengini kaldırdık */
  color: #bbb; /* Açık metin rengi */
  border-top: 1px solid #333;
}

.footer-class {
  color: #000; 
  background-color: #fff; 
}